# 공통
**/node_modules/
**/dist/
**/build/
**/.next/
**/.turbo/
**/.vite/
**/.cache/
**/.eslintcache
**/coverage/
**/.DS_Store
**/Thumbs.db

# 환경/비밀
**/.env
**/.env.*.local

# pnpm / vite / nest / prisma
**/.pnpm-store/
**/.pnpm-debug.log
**/prisma/dev.db
**/prisma/*.db-journal

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/