# Logs
logs
*.log
pnpm-debug.log*

# Dependencies / builds
node_modules/
dist/
dist-ssr/
build/

# Local overrides
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?